@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Fade-in Animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.boxanimation {
    animation: fade-in 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Scale and Fade-in Animation */
@keyframes scale-fade-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.new {
    animation: scale-fade-in 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Slide from Left Animation */
@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slide from Right Animation */
@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.content1 {
    animation: slide-in-left 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.content2 {
    animation: slide-in-right 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}